<!DOCTYPE html>
<html>
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="30"/>
    <script type="text/javascript" src="{{ url_for('static',filename='scripts/countdown.js') }}"></script>
    <title>Crypto India</title>
  </head>
  <body>
    <p> The page will reload in <span id="countdowntimer">30 </span> Seconds</p>
    <table>
      <col>
      <colgroup span="2"></colgroup>
      <colgroup span="2"></colgroup>
      <tr>
        <th rowspan="2"><img class="logo" src="{{ url_for('static',filename='images/coin.png') }}" alt=""></th>
        <th colspan="3" scope="colgroup">Last Price</th>
        <th colspan="2" scope="colgroup">Best Bid</th>
        <th colspan="2" scope="colgroup">Best Ask</th>
        <th colspan="1" scope="colgroup">Profit/Loss</th>
      </tr>
      <tr>
        <th scope="col">Coindelta</th>
        <th scope="col">Koinex</th>
        <th scope="col">Coinmarketcap</th>
        <th scope="col">Coindelta</th>
        <th scope="col">Koinex</th>
        <th scope="col">Coindelta</th>
        <th scope="col">Koinex</th>
        <th scope="col">KO-CD</th>
      </tr>
      {% set coins = ['xrp', 'eth', 'ltc', 'btc', 'bch', 'omg', 'qtum'] %}
      {% for coin in coins %}
        <tr>
          <th class="coin-name" scope="row"><span><img class="coin-logo" src="{{ url_for('static',filename='images/' + coin + '.svg') }}" alt="">{{ coin }}</span></th>
          <td>{{ data[coin]['coindelta']['last'] }}</td>
          <td>{% if data[coin]['koinex'] %} {{ data[coin]['koinex']['last'] }} {% endif %}</td>
          <td>{{ data[coin]['coinmarketcap']['last'] }}</td>
          <td>{{ data[coin]['coindelta']['bid'] }}</td>
          <td>{% if data[coin]['koinex'] %} {{ data[coin]['koinex']['bid'] }} {% endif %}</td>
          <td>{{ data[coin]['coindelta']['ask'] }}</td>
          <td>{% if data[coin]['koinex'] %} {{ data[coin]['koinex']['ask'] }} {% endif %}</td>
          <td>{{ data[coin]['diff'] }}</td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
